:root{
    --text: #302C2C;
    --background: #FCFDFF;

    --blue: #AFDAF6;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080px){
        font-size: 93.75%; 
    }
}

html {
    @media (max-width: 720px){
        font-size: 87.5%; 
    }
}

body {
    background: var(--background);
    --webkit-font-font-smooth: antialiased; 
}

body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
}

button {
    cursor: pointer;
}