header{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0px auto;
    height: 100px;
}

header h4{
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-self: center;
    line-height: 30px;
}